{% extends "layout.html" %} {% block content %}

<form action="/">
	<div class="ui input">
		<input type="text" placeholder="P/E Ratio" name="forward_pe" value="{{forward_pe or ''}}" />
	</div>

	<div class="ui input">
		<input
			type="text"
			placeholder="Dividend Yield"
			name="dividend_yield"
			value="{{dividend_yeild or ''}}"
		/>
	</div>

	<div class="ui checkbox">
		<input type="checkbox" name="ma50" {% if ma50 %} checked {% endif %} />
		<label>Above 50 Day MA</label>
	</div>

	<div class="ui checkbox">
		<input type="checkbox" name="ma200" {% if ma200 %} checked {% endif %} />
		<label>Above 200 Day MA</label>
	</div>

	<button type="submit" class="ui button primary mini" style="margin-left: 12px">Filter</button>
</form>

<div>
	<button
		id="add_stocks"
		class="ui button primary mini"
		style="margin-left: 12px; margin-left: 0; margin-top: 12px"
	>
		Add Stocks
	</button>
</div>

<table class="ui celled table">
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Price</th>
			<th>Forward P/E</th>
			<th>Forward EPS</th>
			<th>Dividend Yield</th>
			<th>50 Day</th>
			<th>200 Day</th>
		</tr>
	</thead>
	<tbody>
		{% for stock in stocks %}
		<tr>
			<td>{{stock.symbol}}</td>
			<td>{{stock.price}}</td>
			<td>{{stock.forward_pe}}</td>
			<td>{{stock.forward_eps}}</td>
			<td>{{stock.dividend_yield}}</td>
			<td>{{stock.ma50}}</td>
			<td>{{stock.ma200}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{# Modal #}

<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">Add stock Symbol</div>
	<div class="content">
		<div class="ui form">
			<div class="field">
				<label>Enter Stock Symbol</label>
				<textarea id="stock_textarea"></textarea>
			</div>
		</div>
	</div>
	<div class="actions">
		<div id="stock_save_btn" class="ui positive right labeled icon button">
			Add Symbol
			<i class="plus icon"></i>
		</div>
	</div>
</div>

{% endblock %} {% block script %}

<script>
	// 제이쿼리 처음 써보는데 쓸 이유가 전혀 없다는 걸 알겠다.
	// 오히려 비효율적이고 혼란스러워서 UI 프레임워크의 해당 API가 제이쿼리가 아닌 이상 쓸모가 없겠다.
	$(document).ready(function () {
		$('#add_stocks').click(function () {
			$('.ui.modal').modal('show');
		});

		$('#stock_save_btn').click(function () {
			const symbols = $('#stock_textarea').val().split('\n');

			symbols.forEach((e) => {
				$.ajax({
					url: '/stock',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({ symbol: e }),
					dataType: 'json',
				});
			});

			$('.ui.modal').modal('hide');
		});
	});

	// document.getElementById('add_stocks').addEventListener('click', () => {
	// 	$('.ui.modal').modal('show');
	// });
</script>

{% endblock %}
